@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

@config "../tailwind.config.js";

@import "tailwindcss";

@layer base {
	.btn_primary {
		@apply bg-primary text-white py-3 px-4 rounded-xl w-fit hover:bg-primary/90 transition-all duration-500 ease-in-out disabled:brightness-80 disabled:cursor-not-allowed;
	}

	.btn_secondary {
		@apply bg-transparent text-primary outline outline-primary py-3 px-4 rounded-xl w-fit hover:bg-primary/10 transition-all duration-500 ease-in-out disabled:cursor-not-allowed;
	}
}

:root {
	font-family: "Poppins", system-ui;
	line-height: 1.5;
	font-weight: 400;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--black: #000000;
	--white: #ffffff;
}

body {
	background-color: var(--white);
	color: var(--black);
}

button {
	cursor: pointer;
}

button:disabled {
	cursor: not-allowed;
}

.scrollbar-none {
	scrollbar-width: none !important;
}

.scrollbar-none::-webkit-scrollbar {
	width: 0 !important;
}
